@using TelerikMvcApp1.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo().Grid<Product>().Name("Products")
    .Columns(c =>
    {
        c.Bound(p => p.Name).Width(120);
        c.Bound(p => p.Supplier.Name).Title("Suppplier").EditorTemplateName("SupplierEditor");
        c.Bound(p => p.Category).ClientTemplate("#: Category.Name #").Title("Category");
        c.Bound(p => p.UnitPrice).Format("{0:c}").Title("Price");
        c.Bound(p => p.UnitsInStock).Width(75).Title("# In Stock");
        c.Bound(p => p.Discontinued).Width(75);
        c.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
    })
    .DataSource(d => d
        .Ajax()
        .Events(e=>e.Error("onError"))
        .Create(update => update.Action("Create", "Products"))
        .Read(r => r.Action("Get", "Products"))
        .Update(update => update.Action("Update", "Products"))
        .Destroy(update => update.Action("Delete", "Products"))
        .PageSize(10)
        .Model(m => {
            m.Id(p => p.Id);
            m.Field(p => p.Supplier).DefaultValue(
                ViewData["defaultSupplier"] as Supplier);
            m.Field(p => p.Category).DefaultValue(
                ViewData["defaultCategory"] as Category);
        })
    )
    .ToolBar(toolbar => toolbar.Create())
    .Pageable()
    .Sortable()
    .Filterable()
    .Groupable()
    .Selectable()
      )

<!--Errors handling-->
<script>
    function onError(e, status) {

        var grid = $("#Products").data("kendoGrid");
        grid.cancelChanges();

        if (e.status == "customerror") {
            alert(e.errors);
        }
        else {
            alert("Generic server error.");
        }
        
    }
</script>